.video {
  height: 28rem;
  background: linear-gradient(
      90deg,
      rgba(9, 5, 74, 0.85),
      rgba(49, 29, 94, 0.85)
    ),
    url("./images/video.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.video i {
  font-size: 1.6rem;
  line-height: 1;
  padding: 1.1rem 1.3rem;
  border: 2px solid #fff;
  border-radius: 50%;
  transition: 0.4s;
}
.video i:hover {
  color: #00e0d0;
  border-color: #00e0d0;
}
.video span {
  text-transform: uppercase;
  font-weight: 600;
}
